@charset "utf-8";

@font-face {
    font-family: 'inter-f';
    src:  url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype'),
      url('../fonts/Inter-VariableFont_slnt\,wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

:root{
	--index: calc(1vw + 1vh);
	--colorbrown: #441600;
	--colorlight1: #f7f4e8;
	--colorlight2: #f7c478;
}

/* Обнуление /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

/* Общие /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

body,html{
	height: 100%;
}

body{
	font-family: 'inter-f';
	color: #000;
}

h2{
	font-size: 30px;
	padding: 10px 0;
	text-align: center;
}

h3{
	font-size: 20px;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: inherit;
}

.hide{
	display: none;
}

.container{
	max-width: calc(var(--index) * 45);
	margin: 0 auto;
}

/* Лоадер /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

.loader{
	background-image: radial-gradient(var(--colorlight2), var(--colorlight1));
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader__icon{
	width: 120px;
	height: 120px;
	overflow: hidden;
}

#dog{
	opacity: 1;
	fill: var(--colorbrown);
}

/* Хедер /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

.header{
	height: 100vh;
	background-image: linear-gradient(var(--colorlight2), var(--colorlight1));
}

/* .hero{
	height: 100%;
	background-image: url(../img/main.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
} */

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav{
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	height: 50px;
	border-radius: 15px;
	overflow: hidden;
	padding-right: 40px;
}

.logo__img{
	height: 100%;
	/* height: 100%; */
}

.nav__menu{
	display: flex;
	align-items: center;
	gap: calc(var(--index) * .8);
	padding-top: 20px;
}

.nav__link{
	background-color: transparent;
	padding: 5px 15px;
	border-radius: 10px;
	transition: all .3s linear;
}

.nav__link:hover{
	background-color: rgba(255, 228, 200, 0.3);
	box-shadow: 0 0 10px rgba(114, 84, 71, .3);
}

.call{
	background-color: var(--colorbrown);
	color: #fff;
	padding: 10px;
	border-radius: 23px;
	display: inline-block;
	cursor: pointer;
}

.call span{
	font-size: 20px;
	font-style: italic;
}

.header__layers{
	position: relative;
	width: 100%;
	height: 600px;
}

.main-title{
	color: #441600;
	font-weight: 800;
	text-align: center;
	padding-top: 250px;
}

.main-title__left{
	display: inline-block;
	position: relative;
	top: 0;
	left: -20px;
	font-size: 180px;
	z-index: 0;
}

.main-title__left.anim{
	transform: translate(-100px, 0);
	transition: all .5s ease-out;
	opacity: 0;
}

.main-title__left.anim.active{
	transform: translate(0, 0);
	opacity: 1;
}

.main-title__right{
	display: inline-block;
	position: relative;
	top: 0;
	left: 20px;
	font-size: 130px;
	z-index: 2;
	text-shadow: rgba(254, 245, 231, .7) 0 0 10px;
}

.main-title__right.anim{
	transform: translate(100px, 0);
	transition: all .5s ease-out;
	opacity: 0;
}

.main-title__right.anim.active{
	transform: translate(0, 0);
	opacity: 1;
}


.header__layers img{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	height: 900px;
	z-index: 1;
}

/* Главный блок /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

.main{
	background-color: var(--colorlight1);
	padding: calc(var(--index) * 1.5) 0;
	/* border: 1px solid red; */
}

.main__content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px 20px;
}

.main__title{
	margin: 0 0 20px 0;
}

.main__title.anim{
	transform: translate(0, 100px);
	transition: all .5s ease-out;
	opacity: 0;
}

.main__title.anim.active{
	transform: translate(0, 0);
	opacity: 1;
}

.main__item{
	background-color: bisque;
	border-radius: calc(var(--index) * .5);
}

.main__item.anim{
	transform: translate(0, 100px);
	transition: all .8s ease-out;
	opacity: .5;
}

.main__item.anim.active{
	transform: translate(0, 0);
	opacity: 1;
}

.main__item-title{
	padding: 7px 0;
}

.main__item-image{
	width: 100%;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
}

.main__item-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__item-text{
	text-align: center;
	padding: 10px 5px;
}

/* Статьи /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

.articles{
	background-image: linear-gradient( var(--colorlight1), var(--colorlight2));
	padding-bottom: 20px;
}

.spoiler{
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: calc(var(--index) * .5);
}

.spoiler:last-child{
	margin-bottom: 0;
}

.spoiler__title{
	text-align: left;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 20px 60px;
	position: relative;
	/* margin-bottom: 10px; */
}

.spoiler__title::before{
	display: inline-block;
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	background-image: url(../img/arrow_down.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateX(0);
	transition: transform .3s linear;
}

.spoiler__title.open::before{
	transform: rotateX(180deg);
}

.spoiler__text{
	text-align: justify;
	border-top: 1px solid transparent;
	padding-left: 20px;
	padding-right: 20px;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
}

.spoiler__text.open{
	border-top: 1px solid var(--colorlight1);
}

/* Слайдер - щенки  /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

.puppies{
	background-image: linear-gradient(var(--colorlight2), var(--colorlight1));
}

/* .swiper {
	width: 600px;
	height: 300px;
  } */

.slide__image{
	height: 800px;
	width: 800px;
	margin: 0 auto;
}

.slide__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
  

  /* footer  /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

  footer{
	text-align: center;
	background-color: var(--colorlight1);
	padding: 20px;
  }

 /* стрелочка вверх  /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

  .btn-up{
	width: 65px;
	height: 65px;
	position: fixed;
	right: calc(var(--index)*1.5);
	bottom: calc(var(--index)*1.5);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-up_hide{
	display: none;
}

.arrow1{
	transform: translate(0,25%);
	fill:none;
	stroke:#617459;
	stroke-width:3;
	stroke-linecap:round;
	opacity:0.5;
}

.arrow2{
	transform: translate(0,-25%);
	fill:none;
	stroke:#617459;
	stroke-width:3;
	stroke-linecap:round;
	opacity:0.5;
}

/* меню-бургер  /---/---/---/---/---/---/---/---/---/---/---/---/---/---/--- */

.burger{
	width: 100%;
	background-color: rgb(197, 197, 197);
	position: relative;
	z-index: 50;
}

.burger-button{
	height: 40px;
	width: 40px;
	/* background-color: aquamarine; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 auto;
}

.burger__icon{
	display: inline-block;
	background-color: rgb(70, 70, 70);
	width: 30px;
	height: 2px;
	position: relative;
	visibility: visible;
}

.burger__icon::after, .burger__icon::before{
	content: '';
	background-color: rgb(70, 70, 70);
	width: 30px;
	height: 2px;
	position: absolute;
}

.burger__icon::before{
	top: -10px;
	left: 0;
	transform: rotate(0);
	transition: transform .2s linear;
}

.burger__icon::after{
	bottom: -10px;
	left: 0;
	transform: rotate(0);
	transition: transform .2s linear;
}

.burger-button.burger_open .burger__icon{
	visibility: hidden;
}

.burger-button.burger_open .burger__icon::before{
	transform-origin: top left;
	transform: rotate(45deg);
	visibility: visible;
}

.burger-button.burger_open .burger__icon::after{
	transform-origin: bottom left;
	transform: rotate(-45deg);
	visibility: visible;
}


@media (min-width: 426px){

	.burger{
		display: none;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 1440px){
	.main-title__left{
		text-shadow: rgba(254, 245, 231, .7) 0 0 10px;
		z-index: 2;
	}

	.header__layers{
		height: 800px;
	}

	.header__layers img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 768px){
	.header__logo{
		display: none;
	}

	.header__top{
		flex-direction: column;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 425px){
	nav{
		position: relative;
	}

	.nav__menu{
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-200px);
		background-color: rgb(197, 197, 197)
	}

	/* .menu.open{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		transition: transform .2s linear, opacity .2s linear;
	}

	.sub-menu, .sub-sub-menu{
		width: 100%;
		transform: rotateX(90deg);
	}

	.sub-sub-menu{
		top: 100%;
		left: 0;
	}

	.sub-menu.open{
		width: 100%;
		position: relative;
		transform: rotateX(0);
	}

	.sub-sub-menu.open{
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		transform: rotateX(0);
	}

	.button.hor::after{
		border-top: 12px solid white;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: none;
	} */
}