

/* Start:/local/templates/main/components/bitrix/menu/top/style.min.css?1602835504490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(../../../../../../local/templates/main/components/bitrix/menu/top/images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */


/* Start:/local/templates/main/components/bitrix/news.list/whatsapp-desktop/style.css?1627271115150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/main/components/bitrix/news.list/slider-hot/style.css?16574570233810*/
div.news-list {
    word-wrap: break-word;
}

div.news-list img.preview_picture {
    float: left;
    margin: 0 4px 6px 0;
}

.news-date-time {
    color: #486DAA;
}

.gg {


    background-image: linear-gradient(
            180deg, #FFAB35 0%, #F16E2A 100%);

}

.b2 {
    border: 100vw solid transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 86px solid white;
}

.b1 {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
    background: linear-gradient(
            251deg, #ffffff 8.22%, #ffffff 87.36%);
    width: 100%;
    height: 400px;
    clip-path: polygon(0 0, 104% 0%, 132% 40%, 0 73%);
}

.fp {
    width: 304px !important;
    height: 386px !important;
    margin: 0 8px;
    background-color: #F8F8F8;
    padding: 8px 18px;
    border-radius: 6px;

}

.ff {
    width: 1258px;
    margin: 0 auto;
}

.bu {
    margin: 0 auto;
    text-align: center;
    top: -48px;
    position: relative;
    font-size: 36px;
    color: #fff;
}


.fp a {
    color: #000000 !important;
    text-decoration: blink !important;
}

.p1 span {
    text-decoration: line-through;
    font-size: 11px;
    line-height: 22px;
}

.p1-empty {
    text-decoration: none!important;
}


.b-slider-custom-nav-slides .current:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 30px;
    background-color: #fff !important;
    margin-left: 8px;
}

.b-slider-custom-nav-slides .current {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    line-height: 30px;
    font-family: 'PragmaticaC-Bold';
    color: #fff;
}

.b-slider-custom-nav-slides .count {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 30px;
    font-family: 'PragmaticaC-Bold';
    margin-left: 8px;
    color: #fff;
}

.b-slider-custom-nav-dots {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 2px;
    background-color: #ffffff !important;
    border-radius: 100px;
    margin-top: 13px;
    margin-left: 8px;
    overflow: hidden;
}

.b-slider-custom-nav-dots .slick-dots li.slick-active, .b-slider-custom-nav-dots .slick-dots li.slick-active {
    opacity: 1;
    background-color: #fb9c32 !important;
}

.b-slider-custom-nav .icon-arrow-left:before, .b-slider-custom-nav .icon-arrow-right:before {
    color: #fff !important;
}

.icon-ruble1:after {
    content: "\e909";
    color: #495966;
    margin-left: 6px;
font-size:10px;
}

.b-catalog-item-price .current-price.icon-ruble1:after {
    position: relative;
    top: -1px;
    color: #000000;
    font-size: 12px;
    margin-left: 6px;
}

[class^="icon-"]:before, [class*=" icon-"]:before, .b-select:after, .icon-ruble1:after, ul.b-breadcrumbs li:after {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.b-catalog-item .b-btn-tr .gg98 {
    position: relative;
    bottom: 56px;
    right: -97px;
    z-index: 101;
    -webkit-transition: opacity 200ms ease-out, visibility 200ms ease-out, background-color 150ms ease-out, color 150ms ease-out;
    -moz-transition: opacity 200ms ease-out, visibility 200ms ease-out, background-color 150ms ease-out, color 150ms ease-out;
    -ms-transition: opacity 200ms ease-out, visibility 200ms ease-out, background-color 150ms ease-out, color 150ms ease-out;
    -o-transition: opacity 200ms ease-out, visibility 200ms ease-out, background-color 150ms ease-out, color 150ms ease-out;
    transition: opacity 200ms ease-out, visibility 200ms ease-out, background-color 150ms ease-out, color 150ms ease-out;
}
/* End */
/* /local/templates/main/components/bitrix/menu/top/style.min.css?1602835504490 */
/* /local/templates/main/components/bitrix/news.list/whatsapp-desktop/style.css?1627271115150 */
/* /local/templates/main/components/bitrix/news.list/slider-hot/style.css?16574570233810 */
