.dropdown {
    position: relative;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.dropbtn {
    background-image: linear-gradient(180deg, #ffab35 0%, #f16e2a 100%);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-family: "PragmaticaC-Bold";
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
    min-width: 187px;
}
.dropbtn:hover {
    background-image: linear-gradient(180deg, #ffab35 0%, #f16e2a 100%);
    box-shadow: inset 0 0px 3px 0 rgba(255, 255, 255, 0.5),
    inset 0 -20px 50px 0 #f16d32;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 264px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 68px;
    border-radius: 6px;
}
.dropdown-content a {
    color: #455461;
    padding: 12px 16px;
    text-align: center;
    display: block;
    text-decoration: underline;
}
.show {
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}

.gg {
    background-image: linear-gradient(180deg, #ffab35 0%, #f16e2a 100%);
}
.b1 {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
    background: linear-gradient(251deg, #ffffff 8.22%, #ffffff 87.36%);
    width: 100%;
    height: 400px;
    clip-path: polygon(0 0, 104% 0%, 132% 40%, 0 73%);
}
.b2 {
    border: 100vw solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 100vw;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 100vw;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 100vw;
    border-top: 0;
    border-right: 0;
    border-bottom: 86px solid white;
}
.bu {
    margin: 0 auto;
    text-align: center;
    top: -48px;
    position: relative;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    font-family: "PragmaticaC-Bold";
}

div.sliderMainTop
div.gg
div.b.b-4.b-review-main-page
div.b-block
div.b-catalog-list.clearfix {
    margin-bottom: 60px;
}

div.b-catalog-item.show.forSlider {
    background-color: #fff;
    z-index: 100;
}

div.b-catalog-item.show.forSlider div.b-catalog-item-back {
    background-color: #fff;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    z-index: 100;
}
div.b-catalog-item.show.forSlider div.b-catalog-item-content {
    z-index: 100;
}
div.b-catalog-item.show.forSlider
div.b-catalog-item-content
a.b-btn-inspection.b-btn-tr.fancy.fancy-binded {
    opacity: 1;
    visibility: visible;
}
div.b-catalog-item.show.forSlider
div.b-catalog-item-content
a.b-catalog-item-info
div.b-catalog-item-info
div.b-catalog-item-price
div.price-strike.icon-ruble {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: line-through;
    color: #455461;
}
div.b-catalog-item.show.forSlider
div.b-catalog-item-content
a.b-catalog-item-info
div.b-catalog-item-info
div.b-catalog-item-price
div.price-strike.icon-ruble::after {
    position: relative;
    top: -1px;
    color: #455461;
    font-size: 10px;
    margin-left: 6px;
    text-decoration: none;
}
.sliderMainTop {
    margin-top: -200px;

}
div.sliderMainTop div.gg div.b.b-4.b-review-main-page div.b-block div.center {
    color: #fff;
}
div.sliderMainTop
div.gg
div.b.b-4.b-review-main-page
div.b-block
div.center
div.b-slider-custom-nav
div.slick-arrow.icon-arrow-left::before {
    color: #fff;
}
div.sliderMainTop
div.gg
div.b.b-4.b-review-main-page
div.b-block
div.center
div.b-slider-custom-nav
div.slick-arrow.icon-arrow-right::before {
    color: #fff;
}
div.sliderMainTop
div.gg
div.b.b-4.b-review-main-page
div.b-block
div.center
div.b-slider-custom-nav
div.b-slider-custom-nav-slides
span.current::after {
    background-color: #fff;
}
div#panel-menu.panel-menu.slideout-menu.slideout-menu-right
div.b-menu-mobile-window
div.slideout-padding
a.b-slideout-phone {
    margin-bottom: 0px;
}
.dropdownMenu {
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.dropbtnMenu {
    background-color: #fff;
    color: #495966;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    padding: 15px 17px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.dropdownMenu div.dropdown-content.show {
    top: 0px;
}

.b-catalog-item-core {
    position: relative;
}

.b-slider-custom-nav-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-slider-custom-nav-c .slick-dots {
    display: inline-flex;
    align-items: center;
}

.b-slider-custom-nav-c .slick-dots li button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 2px;
    padding: 0;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.b-slider-custom-nav-c .slick-dots li {
    position: relative;
    height: 2px;
    width: 14px;
}

.b-slider-custom-nav-c .b-slider-custom-nav-dots-c {
    position: relative;
    display: flex;
    vertical-align: top;
    /* width: 100px; */
    height: 2px;
    background: #ffffff;
    border-radius: 100px;
    margin-left: 8px;
    overflow: hidden;
}

.b-slider-custom-nav-dots-c .slick-dots li.slick-active {
    opacity: 1;
    background-color: #ffa935;
}

.b-slider-custom-nav-c .icon-arrow-left:before {
    color: #fff;
}

.b-slider-custom-nav-c .icon-arrow-right:before {
    color: #fff;
}

.offers-actual .b-catalog-item {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.offers-actual .b-catalog-item:nth-child(4n) {
    margin-right: 15px;
}

.offers-slider-arrows img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.offers-slider-arrows .slick-arrow-prev {
    left: -34px;
}

.offers-slider-arrows .slick-arrow-next {
    right: -34px;
}

.slick-arrow-prev {
    cursor: pointer;
}

.slick-arrow-next {
    cursor: pointer;
}

.offers-actual .b-catalog-item-content {
    padding: 28px 16px;
    border-radius: 5px;
}

.offers-actual .b-catalog-item {
    border-radius: 5px;
}

.offers-actual .b-block {
    max-width: 1274px;
    width: 100%;
}

.offers-actual .b-catalog-item-price {
    margin-bottom: 0;
}

.dropdown-content {
    overflow: visible;

    z-index: 5;
}

.dropdown-content::before {
    content: "";
    /* width: 20px; */
    height: 18px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    display: inline-block;
    border-bottom: 11px solid #fff;
    position: absolute;
    left: 24px;
    top: -29px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 2;
}

.overlay.active {
    display: block;
}

.dropdown-content-close {
    display: none;
    right: 14px;
    top: 14px;
}

.offers-actual.b-slider-custom-nav-slides .current:after {
    color: #fff;
}

.b1 {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
    background: linear-gradient(251deg, #ffffff 8.22%, #ffffff 87.36%);
    width: 100%;
    height: 261px;
    clip-path: polygon(0 0, 104% 0%, 159% 40%, 0 100%);
}

div.sliderMainTop
div.gg
div.b.b-4.b-review-main-page
div.b-block
div.b-catalog-list.clearfix {
    padding-bottom: 33px;
    margin-bottom: 0;
}

div.sliderMainTop div.gg div.b.b-4.b-review-main-page div.b-block div.center {
    color: #fff;
    margin-bottom: 27px;
}

.offers-actual .b-slider-custom-nav-slides .current:after {
    background-color: #fff;
}

.b-slider-custom-nav-c .slick-arrow-prev {
    margin-right: 23px;
}

.b-slider-custom-nav-c .slick-arrow-next {
    margin-left: 25px;
}

.offers-actual .b-catalog-items {
    padding: 0 15px;
}

.offers-actual.offers-actual.offers-actual .b-btn-inspection{
    bottom: 32px;
    right: 9px;
    padding: 5px 13px;
}

.offers-actual .b-catalog-item-content {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1024px) {
    .offers-actual .b-catalog-item {
        margin: 0 30px !important;
    }
    .offers-actual .b-catalog-item:nth-child(3n) {
        margin-right: 30px;
        margin-left: 30px;
    }

    .offers-actual .b-catalog-item:nth-child(4n) {
        margin-left: 30px;
    }

    .dropdownMenu div.dropdown-content.show {
        top: -131px;
        position: absolute;
    }

    .dropdown-content::before {
        display: none;
    }
    .dropdown-content {
        padding: 30px;
    }

    .dropdown-content-close {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .dropdown-content a {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 240px) and (max-width: 767px) {
    .offers-actual .b-catalog-item.b-catalog-item:nth-child(2n) {
        margin-right: 30px;
        margin-left: 30px;
    }

    .dropdown-content a {
        padding: 12px 0;
    }
}

@media screen and (max-width: 576px) {
    .offers-actual .b-catalog-item.b-catalog-item {
        margin: 0 15px !important;
    }
}